multi_modal_model {
  fact_model {
    modality: {
      feature_name: "audio"
      sequence_length: 60
      model: {
        transformer: {
          num_attention_heads: 10
          hidden_size: 800
          num_hidden_layers: 2
        }
      }
    }
    modality: {
      feature_name: "motion"
      sequence_length: 120
      feature_dim: 147
      model: {
        transformer: {
          num_attention_heads: 10
          hidden_size: 800
          num_hidden_layers: 2
        }
      }
    }
    fk_path: "/mnt/data/smpl/SMPL_MALE.pkl"
    cross_modal_model: {
      modality_a: "motion"
      modality_b: "audio"
      transformer: {
        num_hidden_layers: 12
        hidden_size: 800
        num_attention_heads: 10
      }
      output_layer: {
        out_dim: 147
      }
    }
  }
}

train_dataset {
  name: "train"
  input_length_sec: 120.0
  target_length_sec: 60
  target_shift_sec: 0
  modality: {
    general_modality: {
      feature_name: "motion"
      dimension: 147
      # fake sampling rate
      sample_rate: 1
    }
  }
  modality: {
    general_modality: {
      feature_name: "audio"
      dimension: 35
      # fake sampling rate
      sample_rate: 1
    }
  }
  data_augmentation_options {
    fact_preprocessor: {
    }
  }
  data_files: "./data/*_audio_based_blending_emb_based_cond_tfrecord-train*"
}

eval_dataset {
  name: "val"
  input_length_sec: 120.0
  target_length_sec: 60
  target_shift_sec: 0
  modality: {
    general_modality: {
      feature_name: "motion"
      dimension: 147
      # not the real sampling rate
      sample_rate: 1
    }
  }
  modality: {
    general_modality: {
      feature_name: "audio"
      dimension: 35
      # not the real sampling rate
      sample_rate: 1
    }
  }
  data_files: "./data/*_audio_based_blending_emb_based_cond_tfrecord-train*"
  data_augmentation_options {
    fact_preprocessor: {
    }
  }
}

train_config: {
  batch_size: 8
  learning_rate: {
    exponential_decay_learning_rate {
      decay_steps: 7000
      min_learning_rate: 1e-6
      decay_factor: 0.9
    }
  }
}

eval_config: {
  batch_size: 1
}
